.mdl-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 1;
}

.demo-card-event.mdl-card {
    background: #f5f5f5;
    min-height: 0;
}

.demo-card-event>.mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event>.mdl-card__title {
    align-items: flex-start;
}

.demo-card-event>.mdl-card__title>h4 {
    margin-top: 0;
}

.demo-card-event>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.demo-card-event>.mdl-card__actions>.material-icons {
    padding-right: 10px;
}

.demo-card-event>.mdl-card__title,
.demo-card-event>.mdl-card__actions,
.demo-card-event>.mdl-card__actions>.mdl-button {
    color: #455a64;
}

.mdl-card--no-padding-top-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
}

.mdl-card--title-h5 {
    margin-top: 10px;
    margin-bottom: 3px;
}

.mdl-button--action-card {
    width: 100%;
}

.mdl-button--action-card>i {
    margin-left: 47px;
}

.mdl-card-title--small {
    font-weight: 500;
    opacity: 1;
}

@media screen and (max-width: 760px) {
    h5.mdl-cell--text {
        text-align: center;
    }
}